17. Write a SQL to get the cumulative sum of an employeeâ€™s salary over a period of 3 month but exclude the most recent month? The result should be display by id ascending and then by month decending ?

In [ ]:
WITH RankedSalaries AS (
    SELECT
        ID,
        Salary,
        Month,
        ROW_NUMBER() OVER (PARTITION BY ID ORDER BY Month DESC) AS row_num
    FROM Employee
)
SELECT
    rs.ID,
    rs.Month,
    SUM(rs.Salary) OVER (PARTITION BY rs.ID ORDER BY rs.Month ROWS BETWEEN 2 PRECEDING AND 1 PRECEDING) AS CumulativeSum
FROM RankedSalaries rs
WHERE rs.row_num = 1
ORDER BY rs.ID ASC, rs.Month DESC;