15.SQL Quary to get the nth highest salary from Employee table

In [ ]:
SELECT DISTINCT Salary
FROM Employee
ORDER BY Salary DESC
LIMIT 1 OFFSET n-1;