 16. Write a SQL query to find the median salary of each company.?

In [ ]:
SELECT Company, 
       CASE 
           WHEN COUNT(*) % 2 = 1 THEN 
               MAX(Salary) 
               FILTER (WHERE row_number = COUNT(*) / 2 + 1) 
           ELSE 
               AVG(Salary) 
               FILTER (WHERE row_number = COUNT(*) / 2) 
       END AS MedianSalary
FROM (
    SELECT Company, 
           Salary, 
           ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary) AS row_number, 
           COUNT(*) OVER (PARTITION BY Company) AS total_count
    FROM Employee
) ranked
GROUP BY Company, total_count;