12.  Write an SQL query to find the youngest student in the "student" table ?

In [ ]:
SELECT *
FROM student
ORDER BY age ASC
LIMIT 1;