14.Write an SQL query to fetch the second highest number from the "student" table.?

In [ ]:
SELECT DISTINCT column_name
FROM student
ORDER BY column_name DESC
LIMIT 1 OFFSET 1;